h1 {
    color: red;
    font-size: 55px;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
    background: yellow;
    //height: 800px;
    border: 1px blue solid;
    //padding: 15px;

    .header {
        background: lighten(gray, 40%);
        height: 150px;
        margin-bottom: 10px;
    }

    .main {
        //background: lighten(green, 30%);
        //height: 350px;
        margin-bottom: 15px;
        display: flex;

        .menu {
            width: 30%;
            margin-right: 5%;

            a {
                display: block;
                text-decoration: none;
                font-size: 25px;
                border: 1px #CCC solid;
                text-align: center;
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }

        .product {
            //display: flex;
            width: 65%;
            //justify-content: space-between;
            
            .item {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                font-size: 25px;
                //max-width: 100%;
                
                li {
                    width: 30%;
                }

                @media (max-width: 768px) {
                li {
                    width: 45%;
                }
                }
               

                
               
                

                li img{
                    display: block;
                    width: 100%;
                    border: 1px #CCC solid;
                }
    
                li h2 {
                    text-align: center;
                    border: 1px #CCC solid;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    //font-size: 15px;
                }

                li span {
                    display: block;
                    text-align: center;
                    border: 1px #CCC solid;
                    margin-bottom: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            
        }

    }

    .footer {
        background: lighten(pink, 10%);
        height: 50px;

    }
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}