.wrap {
    max-width: 1000px;
    //height: 800px;
    margin: 0 auto;
    //background: red;

    .header {
        max-width: 800px;
        display: flex;
        //max-width: 800px;
        margin: 0 auto;
        //background-color: yellow;

        .logo{
            margin-left: 15px;
            margin-top: 15px;
        }

        .nav{
            display: flex;
            margin-left: 200px;
            align-items: center;
            margin-top: 45px;

            .navItem{              
                // color: green;
                // margin-left: 25px;
                // max-width: 100%;
                
                a{
                    display: block;
                    color: green;
                    margin-left: 25px;
                    max-width: 100%;
                    text-decoration: none;
                    font-size: 20px;
                    background: lightcoral;
                    padding: 15px;

                    &:hover{
                        color:lightcoral;
                        background: green;
                    }
                }
            }
        }
    }

    .banner {
        margin-top: 10px;
        max-width: 100%;
        //height: 500px;
        //background: lighten(blue, 30%);
        //background: 

        img {
            
            display: block;
            max-width: 100%;
        }
    }

    .main {
        display: flex;
        margin-top: 10px;
        

        .productList {
            //max-width: 300px;
            
            a {
                background: lighten(blue, 45%);
                width: 300px;
                display: block;
                text-align: center;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 30px;
                padding-bottom: 30px;
                border-bottom: red solid 2px;
                text-decoration: none;
                font-size: 35px;
            }
        }

        .productDetail {
            display: flex;
            max-width: 658px;
            //border: 2px green solid;
            flex-wrap: wrap;
            justify-content: space-around;

            .pd {
                border: 1px red solid;
                max-width: 326px;
                //background: lighten(green, 35%);
                //justify-content: space-between;
                //margin-left: 20px;
                //padding-left: 10px;
                //padding-right: 10px;
                margin-bottom: 20px;
                text-align: center;
                font-size: 25px;

                h2 {
                    border-top: 1px blue solid;
                }

            }
        }

        

    }

    


}