.wrap {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    //background: red;

    .header {
        display: flex;
        width: 960px;
        margin: 0 auto;
        //background-color: yellow;

        .logo{
            margin-left: 15px;
            margin-top: 15px;
        }

        .nav{
            display: flex;
            //justify-content: flex-end;
            margin-left: 200px;
            //margin-top: 50px;
            align-items: center;

            .navItem{              
                color: green;
                margin-left: 25px;
                
                a{
                    display: block;
                    text-decoration: none;
                    font-size: 20px;
                    background: lightcoral;
                    padding: 15px;

                    &:hover{
                        color:lightcoral;
                        background: green;
                    }
                }
            }
        }
    }

    .banner {
        width: 960px;
        //height: 500px;
        background: lighten(blue, 30%);
        //background: 

        img {
            display: block;
        }
    }

    .main {
        display: flex;

        .productList {
            width: 300px;

            a {
                display: block;
                //align-items: center;
                text-align: center;
                padding: 15px;
                border: red solid 2px;
                text-decoration: none;
                font-size: 35px;

            }

        }

        

    }

    


}